#leaveMessage {
    visibility: hidden;
}
.movingPics  {
    width: 100%;
}
.messageBox {
    margin-bottom: 15px;
}
#searchCity,#go {
    display: block;
    margin-left: auto;
    margin-right: auto;
}